<!DOCTYPE html>
<html>
<head>
<!--  <link rel="stylesheet" type="text/css" href="/admindashboard.css">-->
<style>
body {
  margin: 0;
}

ul.admin {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #948686;
  position: sticky;
  height: 100%;
  overflow: auto;
}

.admin li a {
  display: block;
  color: #000;
  padding: 50px 16px;
  text-decoration: none;
}

.admin li a.active {
  background-color: #302A2A;
  color: white;
}

.admin li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

</style>
</head>
<body>
{% extends "base.html" %}
{% block title %}B.E.E - Admin{% endblock %}

{% block content %}
<ul class="admin" style="float: left;">
  <li><a class="active" href="">Dashboard</a></li>
  <li>
    <a href="/orders">Orders</a>
  </li>
  <li><a href="/users">Users</a></li>
  <li><a href="/forms">Forms</a></li>
  <li><a href="/admin_inventory">Inventory</a></li>
  <li><a href="/add_vouchers">Add Vouchers</a></li>
  <li><a href="#about">About</a></li>
</ul>

<div style="margin-left:25%;padding:30px 16px;">
  <h2>Dashboard</h2>
    <div class="chart">
        <h2>Revenue Bar Chart</h2>
        {{ chart_html | safe }}
    </div>
    <div class="chart">
        <h2>Product Pie Chart</h2>
        {{ pie_chart_html | safe }}
    </div>

  <img src="/static/img/Frame 7.png">
</div>

</body>
</html>

{% endblock %}