<!DOCTYPE html>
<html>
<head>
<!--  <link rel="stylesheet" type="text/css" href="/admindashboard.css">-->
<style>
body {
  margin: 0;
  background-color: #ffffea;
}

.chart {
text-align: center;
width: 500px;
margin-bottom: 30px;
}

</style>
</head>
<body>
{% extends "base.html" %}
{% block title %}B.E.E - Admin{% endblock %}

{% block content %}
<ul class="admin" style="float: left;">
  <li><a class="active" href="">Dashboard</a></li>
  <li>
    <a href="/orders">Orders</a>
  </li>
  <li><a href="/users">Users</a></li>
  <li><a href="/forms">Forms</a></li>
  <li><a href="/admin_inventory">Inventory</a></li>
  <li><a href="/add_vouchers">Add Vouchers</a></li>
</ul>

<div style="margin-left:43%; padding:30px 16px;">
    <div class="chart">
        <h2>Revenue Bar Chart</h2>
        {{ chart_html | safe }}
    </div>
    <div class="chart">
        <h2>Product Pie Chart</h2>
        {{ pie_chart_html | safe }}
    </div>
</div>
</body>
</html>

{% endblock %}