{% extends "base.html" %}
{% block title %}B.E.E - Cart{% endblock %}

{% block content %}
<h1 class="display-4">Cart</h1>
{% if 'username' in session %}
<p>{{session['username']}}'s Cart</p>
{% else %}
<p>Guest's Cart</p>
{% endif %}
<script>
let data = 1;

//printing default value of data that is 0 in h2 tag
document.getElementById("counting").innerText = data;

//creation of increment function
function increment() {
    data = data + 1;
    document.getElementById("counting").innerText = data;

}
//creation of decrement function
function decrement() {

    data = data - 1;
    document.getElementById("counting").innerText = data;

}

</script>
<table>
    {{ lists }}
{% for row in rows %}
    <thead>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
    </thead>
<!--    {% for l in row %}-->
    <tr>
        <td>
            <p>{{ row[loop.index - 1]['product_name'] }}</p>
            <object><img src="/static/img/{{ row[loop.index - 1]['product_image'] }}" width="100px"></object>
        </td>
        <td>
            <p>{{ row[loop.index - 1]['product_price'] }}</p>
        </td>
        <td>
            <button onclick="increment()">+</button><h2 id="counting">1</h2><button onclick="decrement()">-</button>
        </td>
        <td>
            <a href="/delete_cart/{{ l['product_name'] }}/{{ session['username'] }}"><img src="/static/img/img_4.png" width="30px"></a>
        </td>
    </tr>
<!--    {% endfor %}-->
{% endfor %}
</table>
<button><a href="/checkout/{{ lists }}">Pay Now</a></button>
{% endblock %}