{% extends "base.html" %}
{% block title %}B.E.E - Cart{% endblock %}

{% block content %}
<h1 class="display-4">Cart</h1>
{% if 'username' in session %}
<p>{{session['username']}}'s Cart</p>
{% else %}
<p>Guest's Cart</p>
{% endif %}
<script>
let data = 1;

//printing default value of data that is 0 in h2 tag
document.getElementById("counting").innerText = data;

//creation of increment function
function increment() {
    data = data + 1;
    document.getElementById("counting").innerText = data;

}
//creation of decrement function
function decrement() {

    data = data - 1;
    document.getElementById("counting").innerText = data;

}

</script>
<table>
{% for row in rows %}
    <thead>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
    </thead>
<!--    {% for l in row %}-->
    <tr>
        <td>
            <p>{{ row[loop.index - 1]['product_name'] }}</p>
            <object><img src="/static/img/{{ row[loop.index - 1]['product_image'] }}" width="100px"></object>
        </td>
        <td>
            <p>{{ row[loop.index - 1]['product_price'] }}</p>
        </td>
        <td>
            <button onclick="increment()">+</button><h2 id="counting">1</h2><button onclick="decrement()">-</button>
        </td>
        <td>
            <a href="/delete_cart/{{ l['product_name'] }}/{{ session['username'] }}"><img src="/static/img/img_4.png" width="30px"></a>
        </td>
    </tr>
<!--    {% endfor %}-->
{% endfor %}
</table>
<div class="form-container">
  <form action="/checkout" method="post">
    <div class="form-group">
      <label for="block">Block</label>
      <input type="text" id="block" name="block" maxlength="10" pattern="[0-9#-]+" required>
    </div>

    <div class="form-group">
      <label for="unitno">Unit No</label>
      <input type="text" id="unitno" name="unitno" required>
    </div>

    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" id="street" name="street" required>
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input type="text" id="city" name="city" required>
    </div>

    <div class="form-group">
      <label for="zipcode">Zip Code</label>
      <input type="text" id="zipcode" name="zipcode" required>
    </div>

    <div class="form-group discount-code">
      <label for="discount">Discount Code</label>
      <input type="text" id="discount" name="discount">
      <button type="submit">Apply Discount</button>
    </div>

    <button type="submit">Proceed to Checkout</button>
  </form>
</div>
<button><a href="/checkout/{{ lists }}/{{ session['username'] }}">Pay Now</a></button>
{% endblock %}