<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

{% extends "base.html" %}
{% block title %}B.E.E - Profile{% endblock %}

{% block content %}
<style>
.profilenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #948686;
    position: sticky;
    height: 100%;
    overflow: auto;
}

.profilenav li a {
    display: block;
    color: #000;
    padding: 40px 13px;
    text-decoration: none;
}
</style>
</head>
<body>
<ul class="profilenav" style="float: left;">
    <li><a href="/orderhistory">Order History</a></li>
    <li><a href="/view_tradeins/{{ session['username'] }}">Trade-In</a></li>
    <li><a href="/view_vouchers/{{ session['username'] }}">Vouchers</a></li>
</ul>
<div style="margin-left:15%;padding:30px 16px;height: 1000px;">
    <h1 class="display-4">Profile</h1>
    <p>{{session['username']}}'s Profile</p>
    <hr>
    <form action="/editprofile" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <br>

            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", value=details[1]) }}
            <br>

            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", value=details[2]) }}
            <br>

            {{ form.phone_no.label(class="form-label") }}
            {{ form.phone_no(class="form-control", value=details[3]) }}
            <br>

            {{ form.dob.label(class="form-label") }}
            {{ form.dob(class="form-control") }}
            <br>

            {{ form.gender.label(class="form-label") }}
            {{ form.gender(class="form-control") }}
            <br>
            <hr>
            {{ form.submit(class="btn btn-secondary") }}
    </form>
    <a href="/profile">Discard Changes</a>
</div>
{% endblock %}
</body>
</html>