{% extends "base.html" %}
{% block title %}B.E.E - Profile{% endblock %}

{% block content %}
<style>
body {
    background-color: #FFFFEA;
}
.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
.rounded {
    clip-path: circle();
}
.profilenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #948686;
    position: sticky;
    height: 100%;
    overflow: auto;
}

.profilenav li a {
  display: block;
  color: #000;
  padding: 40px 13px;
  text-decoration: none;
}

.profilenav li a.active {
  background-color: #302A2A;
  color: white;
}

.profilenav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#tradein th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 50px;
  padding-left: 10px;
  text-align: left;
  background-color: #F6BDBD;
  color: white;
}
table, td {
  padding-left: 10px;
}

table {
  width: 75%;
  border-collapse: collapse;
}
#tradein {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    background-color: #FDFDFD;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  #tradein th {
    padding: 12px;
    text-align: left;
    background-color: #F6BDBD;
    color: white;
  }

  #tradein td {
    padding: 12px;
    border: 1px solid #F6BDBD;
  }

  #tradein td a {
    color: #04AA6D;
    text-decoration: none;
  }

  #tradein td a:hover {
    text-decoration: underline;
  }

</style>
<ul class="profilenav" style="float: left;">
    <li><a href="/order_history/{{ session['username'] }}" class="active">Order History</a></li>
    <li><a href="/view_tradeins/{{ session['username'] }}" >Trade-In</a></li>
    <li><a href="/view_vouchers/{{ session['username'] }}">Vouchers</a></li>
</ul>
<div style="float: left;margin-left:5%;">
    <h1 class="display-4">Order History</h1>
    <p>{{session['username']}}'s Order History</p>
  {% if orders|length == 0 %}
  <h3>You haven't ordered from us!</h3>
  {% else %}
      <div class="container">
        <h1>Past Orders</h1>
        <table id="tradein">
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Date</th>
              <th>Items</th>
              <th>Total</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr>
              <td>#{{ order[0] }}</td>
              <td>{{ order[4][0:10] }}</td>
              <td>{{ quantity[loop.index - 1] }}</td>
              <td>${{ order[3] }}</td>
              {% if order[7] == 0 or order[7] is none %}
              <td><b>Ordered</b></td>
              {% else %}
              <td><b>{{ order[7] }}</b></td>
              {% endif %}
              <td><a href="/view_order/{{ order[0] }}">Retrieve Order</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  {% endif %}
</div>
{% endblock %}