<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% extends "base.html" %}
{% block title %}B.E.E - Transaction Details{% endblock %}

{% block content %}
</head>
<body>
    <h1>Transaction Details</h1>

<div class="card">
  <div class="card-body mx-4">
    <div class="container">
      <p class="my-5 mx-5" style="font-size: 30px;">Thank for your purchase</p>
      <div class="row">
        <ul class="list-unstyled">
          <li class="text-black">{{ username }}</li>
          <li class="text-muted mt-1"><span class="text-black">Invoice</span> #{{ sessionid }}</li>
          <li class="text-black mt-1">January 23 2024</li>
          <li class="text-black mt-1">{% for details in address %}Address: {{ details[1] }} {{ details[3] }}, {{ details[2] }}, {{ details[5] }}, {{ details[4] }}{% endfor %}</li>
        </ul>
          {% for order in orders %}
            <hr>
            <div class="col-xl-10">
              <p>{{ order[0][0] }}</p>
            </div>
            <div class="col-xl-2">
              <p class="float-end">${{ order[0][1] }}
              </p>
            </div>
            <hr>
          {% endfor %}
      </div>

        <hr style="border: 2px solid black;">
      <div class="row text-black">

        <div class="col-xl-12">
          <p class="float-end fw-bold">Total: ${{ total }}
          </p>
        </div>
        <hr style="border: 2px solid black;">
      </div>
      <div class="text-center" style="margin-top: 90px;">
        <a href="/order_history/{{ session['username'] }}"><u class="text-info">View Order History</u></a>
        <p></p>
      </div>

    </div>
  </div>
</div>

</body>
{% endblock %}
</html>