<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% extends "base.html" %}
{% block title %}B.E.E - Transaction Details{% endblock %}

{% block content %}
</head>
<body>
    <h1>Transaction Details</h1>

    <div>
        <h2>{{ username }}'s Order</h2>
        <h5>{{ sessionid }}</h5>
        {% for order in orders %}
        <h2>Product: {{ order[0][0] }}</h2>
        <p>Price: ${{ order[0][1] }}</p>
        {% endfor %}
        <!-- Add other relevant details here -->
        <p>Total: {{ total }}</p>
    </div>

</body>
{% endblock %}
</html>