{% extends "base.html" %}
{% block title %}B.E.E - Trade-In Form{% endblock %}

{% block content %}
<style>
body{
    background-color:#FFFFEA;
    }
.display-4 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-label {
    display: block;
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: black;
    background-color: lightpink;
}
.btn:hover{
    background-color: pink;
    color: grey;

}
</style>
<h1 class="display-4" style="margin-top: 50px;">Trade-In Form</h1>
<p align="center">Hello {{session['username']}}! What do you want to trade in?</p>

<form action="/tradeinno" method="POST">
    {{ form.hidden_tag() }}
    <br>
    {{ form.no_of_clothes.label(class="form-label") }}
    {{ form.no_of_clothes(class="form-control") }}
    <hr>
    {{ form.submit(class="btn btn-secondary") }}
</form>
{% endblock %}
