<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/users.css">
</head>
<body>
{% extends "base.html" %}
{% block title %}B.E.E - Admin{% endblock %}

{% block content %}
<ul class="admin" style="float: left;">
  <li><a href="/admindashboard">Dashboard</a></li>
  <li>
    <a href="/orders">Orders</a>
  </li>
  <li><a class="active" href="/users">Users</a></li>
  <li><a href="/forms">Forms</a></li>
  <li><a href="/admin_inventory">Inventory</a></li>
  <li><a href="/add_vouchers">Add Vouchers</a></li>
  <li><a href="#about">About</a></li>
</ul>

<div style="margin-left:25%;padding:30px 16px;height:868px;">
  <h2>Users</h2>
    <table id="users">
      <thead>
      <th>User ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Date Of Birth</th>
      <th>Gender</th>
      <th>Number of Orders Made</th>
      <th>Delete</th>
      </thead>
      {{ results }}
      {% for row in rows %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ row['username'] }}</td>
        <td>{{ row['email'] }}</td>
        <td>{{ row['phone_no'] }}</td>
        <td>{{ row['dob'] }}</td>
        <td>{{ row['gender'] }}</td>
        <td>{{ row_order[loop.index - 1] }}</td>
        <td><a href="/delete_user/{{ row['user_id'] }}/{{ row['username'] }}"><img src="static/img/img_4.png" width="20px"></a></td>
      </tr>
      {% endfor %}
    </table>
</div>

</body>
</html>

{% endblock %}