{% extends "base.html" %}
{% block title %}B.E.E - Profile{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/user_retrieveform.css">
    <style>
        .backbtn {
            position: absolute;
            top: 150px;
            left: 250px;
        }
    </style>
</head>
<ul class="profilenav" style="float: left;">
    <li><a href="/order_history/{{ session['username'] }}">Order History</a></li>
    <li><a href="/view_tradeins/{{ session['username'] }}">Trade-In</a></li>
    <li><a href="/view_vouchers/{{ session['username'] }}">Vouchers</a></li>
</ul>
<div class="backbtn"><a href="/view_tradeins/{{ session['username'] }}" style="text-decoration: none;"><img src="/static/img/img_12.png" width="30px"></a></div>

<div style="float: left;margin-left:5%;">
  <div class="tradein-forms">
    <h1 class="display-4">Trade-In Forms</h1>
    <p>Trade-In ID: {{ rows[0][6] }}</p>
    <p>No. Of Clothes: {{ rows[0][2] }}</p>
    {% for row in rows %}
      <p>Photo of item {{ loop.index }}:</p>
      <img src="/static/img/{{ row['tradein_pic'] }}" class="img" width="70px" onclick="showImagePopup('/static/img/{{ row['tradein_pic'] }}')" />
      <p>Description of item {{ loop.index }}: {{ row['description'] }}</p>
    {% endfor %}
  </div>
</div>
<!-- Image popup container -->
<div class="image-popup" id="imagePopup">
  <img src="" class="popup-image" id="popupImage" />
  <button class="cancel-button" onclick="hideImagePopup()">Cancel</button>
</div>

<script>
  function showImagePopup(src) {
    // Set the source of the popup image
    document.getElementById('popupImage').src = src;

    // Show the image popup
    document.getElementById('imagePopup').style.display = 'block';
  }

  function hideImagePopup() {
    // Hide the image popup
    document.getElementById('imagePopup').style.display = 'none';
  }
</script>
{% endblock %}